<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ericsson.ecim.umlmod">
      <umlmodifier
            class="com.ericsson.ecim.mmas.cmpojo.launcher.transformation.Cmw2MmasProfileConverter">
      </umlmodifier>
      <umlmodifier
            class="com.ericsson.ecim.mmas.cmpojo.launcher.transformation.Mmas2CmwProfileConverter">
      </umlmodifier>
  </extension>   
</plugin>
