<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.transaction.listeners">
      <listener
            class="com.ericsson.ecim.extensions.triggers.SlotCreationTrigger">
      </listener>
      <listener
            class="com.ericsson.ecim.extensions.triggers.InstanceStereotypeTrigger">
      </listener>
   </extension>

</plugin>
