<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--extension
         point="org.eclipse.gmf.runtime.emf.core.Pathmaps">
      <pathmap
            name="ECIM_DATA_TYPES"
            path="lib">
      </pathmap>
   </extension-->
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://ECIM_DATA_TYPES/"
            target="platform:/plugin/com.ericsson.ecim.datatypes/lib/">
      </mapping>    
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
      		description="ECIM Basic Data Types"
            name="ECIM_DATA_TYPES"
            path="pathmap://ECIM_DATA_TYPES/EcimDataTypes.uml">
      </library>
   </extension>
</plugin>
