<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.ericsson.ecim.transformations" name="transformations" schema="schema/com.ericsson.ecim.transformations.exsd"/>
   <extension-point id="com.ericsson.ecim.reverse" name="reverse" schema="schema/com.ericsson.ecim.reverse.exsd"/>
   <extension
         point="com.ericsson.ecim.transformations">
      <transformation
            checkedByDefault="true"
            enabledForCmwModelMerge="false"
            transformationClass="com.ericsson.ecim.launcher.transformations.internal.MpXmlTransform"
            transformationId="mp"
            transformationName="MP XML">
         <requiredProfiles>
            <profile
                  name="ECIM Base Profile">
            </profile>
         </requiredProfiles>
      </transformation>
   </extension>
   <extension
         point="com.ericsson.ecim.transformations">
      <transformation
            checkedByDefault="true"
            enabledForCmwModelMerge="false"
            transformationClass="com.ericsson.ecim.launcher.transformations.internal.MpXmlTransform"
            transformationId="mpDwaxe"
            transformationName="MP XML (DWAXE)">
         <requiredProfiles>
            <profile
                  name="ECIM Base Profile">
            </profile>
         </requiredProfiles>
      </transformation>
   </extension>
   <extension
         point="com.ericsson.ecim.umlmod">
               <umlmodifier
            class="com.ericsson.ecim.launcher.transformations.internal.UpgradeEcimModel">
      </umlmodifier>
   </extension>
   <extension
            id="lowlev"
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="false"
               locationURI="popup:org.eclipse.ui.popup.any">
            <menu
                  icon="icons/ET3.gif"
                  id="com.ericsson.ecim.launcher.ecimmenu"
                  label="ECIM Tool-chain"
                  mnemonic="E">
               <command
                     commandId="com.ericsson.ecim.launcher.generateartifacts"
                     id="generateartifacts"
                     mnemonic="G"
                     style="push">
                     <visibleWhen>
               <iterate>
                  <test
                        forcePluginActivation="true"
                        property="com.ericsson.ecim.launcher.isModel">
                  </test>
               </iterate>
            </visibleWhen>
               </command>
               <visibleWhen>
                  <or>
                     <test
                           forcePluginActivation="true"
                           property="com.ericsson.ecim.launcher.isModel">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="com.ericsson.ecim.launcher.isMpXmlFile">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="com.ericsson.ecim.launcher.isYangFile">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="com.ericsson.ecim.launcher.isMpXmlFolder">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="com.ericsson.ecim.launcher.isMultiMpXmlFolder">
                     </test>
                  </or>
               </visibleWhen>
               <command
                     commandId="com.ericsson.ecim.launcher.sortmpxml"
                     id="sortmpxml"
                     mnemonic="s"
                     style="push">
                  <visibleWhen>
                     <iterate>
                        <test
                              forcePluginActivation="true"
                              property="com.ericsson.ecim.launcher.isMpXmlFile">
                        </test>
                     </iterate>
                  </visibleWhen>
               </command>
            </menu>
         </menuContribution>
      </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               categoryId="com.ericsson.ecim.launcher.ecimcategory"
               defaultHandler="com.ericsson.ecim.launcher.transformations.internal.LauncherAction"
               id="com.ericsson.ecim.launcher.generateartifacts"
               name="Generate Artifacts...">
         </command>
         <category
               description="Commands specific the DX ECIM Tool-chain"
               id="com.ericsson.ecim.launcher.ecimcategory"
               name="ECIM Commands">
         </category>
         <command
               categoryId="com.ericsson.ecim.launcher.ecimcategory"
               defaultHandler="com.ericsson.ecim.launcher.transformations.internal.SortMpXmlAction"
               id="com.ericsson.ecim.launcher.sortmpxml"
               name="Sort MP XML File">
         </command>
      </extension>
            <extension
            point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
               class="com.ericsson.ecim.launcher.MenuPropertyTester"
               id="com.ericsson.ecim.launcher.MenuPropertyTester"
               namespace="com.ericsson.ecim.launcher"
               properties="isModel,isMpXmlFile,isYangFile,isMpXmlFolder,isMultiMpXmlFolder"
               type="java.lang.Object">
         </propertyTester>
      </extension>
      <extension
            point="org.eclipse.help.toc">
         <toc
               file="toc.xml"
               primary="true">
         </toc>
      </extension>
      <extension
            point="org.eclipse.ui.startup">
         <startup
               class="com.ericsson.ecim.launcher.listeners.StartupListener">
         </startup>
      </extension>
      <extension
            point="com.ericsson.ecim.umlmod">
         <umlmodifier
               class="com.ericsson.ecim.launcher.umlutilities.Preliminary2OptionalityUtility">
         </umlmodifier>
      </extension>
      <extension
            point="com.ericsson.ecim.umlmod">
         <umlmodifier
               class="com.ericsson.ecim.launcher.umlutilities.ProfileMigrationUtility">
         </umlmodifier>
      </extension>
          <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.ericsson.ecim.launcher.ecimmenu?after=generateartifacts">
         <command
               commandId="com.ericsson.ecim.launcher.diagrams.GenerateClassDiagrams"
               id="generateclassdiagrams"
               mnemonic="G"
               style="push"
               tooltip="Generates brief diagram">
               <visibleWhen>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="com.ericsson.ecim.launcher.isMpXmlFile">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="com.ericsson.ecim.launcher.isMpXmlFolder">
                  </test>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.ericsson.ecim.launcher.ecimmenu?after=generateclassdiagrams">
         <command
               commandId="com.ericsson.ecim.launcher.diagrams.GenerateDiagramsWithOptions"
               id="generatediagramwithoptions"
               mnemonic="G"
               style="push"
               tooltip="Generates detailed class diagrams">
            <visibleWhen>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="com.ericsson.ecim.launcher.isMpXmlFile">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="com.ericsson.ecim.launcher.isMpXmlFolder">
                  </test>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.ericsson.ecim.launcher.ecimmenu?after=generatediagramwithoptions">
         <command
               commandId="com.ericsson.ecim.launcher.diagrams.GenerateFilter"
               id="generatefilter"
               mnemonic="F"
               style="push"
               tooltip="Generates filter template file">
            <visibleWhen>
                  <test
                        forcePluginActivation="true"
                        property="com.ericsson.ecim.launcher.isMpXmlFile">
                  </test>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.ericsson.ecim.launcher.ecimmenu?after=generateartifacts">
         <command
               commandId="com.ericsson.ecim.launcher.mpmerge.MpXmlMerge"
               id="mpxmlmerge"
               mnemonic="G"
               style="push"
               tooltip="Merge MP XML Files">
            <visibleWhen>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="com.ericsson.ecim.launcher.isMultiMpXmlFolder">
                  </test>
                  <and>
                     <test
                           forcePluginActivation="true"
                           property="com.ericsson.ecim.launcher.isMpXmlFile">
                     </test>
                     <count
                           value="(1-">
                     </count>
                  </and>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
         <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.ericsson.ecim.launcher.ecimcategory"
            defaultHandler="com.ericsson.ecim.launcher.adg.BriefDiagramHandler"
            id="com.ericsson.ecim.launcher.diagrams.GenerateClassDiagrams"
            name="Generate Brief Diagrams">
      </command>
      <command
            categoryId="com.ericsson.ecim.launcher.ecimcategory"
            defaultHandler="com.ericsson.ecim.launcher.adg.DiagramHandler"
            id="com.ericsson.ecim.launcher.diagrams.GenerateDiagramsWithOptions"
            name="Generate Diagrams...">
      </command>
      <command
            categoryId="com.ericsson.ecim.launcher.ecimcategory"
            defaultHandler="com.ericsson.ecim.launcher.adg.FilterHandler"
            id="com.ericsson.ecim.launcher.diagrams.GenerateFilter"
            name="Generate Diagram Filter...">
      </command>
   </extension>
         <extension
               point="org.eclipse.ui.commands">
            <command
                  categoryId="com.ericsson.ecim.launcher.ecimcategory"
                  defaultHandler="com.ericsson.ecim.launcher.mpmerge.MpXmlMergeHandler"
                  id="com.ericsson.ecim.launcher.mpmerge.MpXmlMerge"
                  name="Merge MP XML Files...">
            </command>
         </extension>
         <extension
               point="com.ericsson.ecim.umlmod">
            <umlmodifier
                  class="com.ericsson.ecim.launcher.umlutilities.SortMPXmlUtility">
            </umlmodifier>
         </extension>
</plugin>
