<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.ericsson.ecim.clitransform"
         name="ECIM Tool-chain CLI Transformation"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="com.ericsson.ecim.headlesslauncher.HeadlessLauncherApplication" />
      </application>
   </extension>
</plugin>
