<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://ECIM_YANG_PROFILE/"
            target="platform:/plugin/com.ericsson.ecim.yang.dsl/profiles/">
      </mapping>
   </extension>
   
   <extension point="org.eclipse.uml2.uml.dynamic_package">
      <profile uri="http:///schemas/ECIMYangProfile/" location="platform:/plugin/com.ericsson.ecim.yang.dsl/profiles/ECIM_Yang_Profile.profile.uml"/>
   </extension>
   
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            name="ECIM_YANG_PROFILE"
            path="pathmap://ECIM_YANG_PROFILE/ECIM_Yang_Profile.profile.uml">
      </profile>
   </extension>

</plugin>
