<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   
   <extension
         id="MMASProfile UMLProfiles"
         name="MMASProfile UMLProfiles"
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            name="MMASProfile"
            path="pathmap://MMASPROFILE/MMASProfile.profile.uml">
      </profile>
   </extension>
   
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://MMASPROFILE/"
            target="platform:/plugin/com.ericsson.ecim.mmas.dsl/profiles/">
      </mapping>
   </extension>

   <extension point="org.eclipse.uml2.uml.dynamic_package">
     <profile uri="http:///schemas/MMASProfile/" location="platform:/plugin/com.ericsson.ecim.mmas.dsl/profiles/MMASProfile.profile.uml"/>
   </extension>
   
   <extension
         point="org.eclipse.papyrus.uml.diagram.wizards.templates">
      <template
            di_file="templates/MMASProfileModel.di"
            file="templates/MMASProfileModel.uml"
            id="com.ericsson.ecim.dsl.template.ModelWithMMASProfile"
            language="ecim"
            name="An MMAS model with MMAS Profile."
            notation_file="templates/MMASProfileModel.notation">
      </template>
   </extension>

</plugin>
