<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!--extension
	         point="org.eclipse.gmf.runtime.emf.core.Pathmaps">
	     <pathmap
	           name="ECIM_GUIDELIB"
	           path="libraries">
	     </pathmap>
	</extension-->
	<extension
	      point="org.eclipse.emf.ecore.uri_mapping">
	   <mapping
	         source="pathmap://ECIM_GUIDELIB/"
	         target="platform:/plugin/com.ericsson.ecim.guidelines/libraries/">
	   </mapping>
	</extension>
	<extension
	      point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
	   <library
	         name="ECIM_GUIDELIB"
	         path="pathmap://ECIM_GUIDELIB/ECIM_Guidelines.uml">
	   </library>
	</extension>
</plugin>
