<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   
   <extension
         id="MGCProfile UMLProfiles"
         name="MGCProfile UMLProfiles"
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            name="MGCProfile"
            path="pathmap://MGCPROFILE/MGCProfile.profile.uml">
      </profile>
   </extension>

	<extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://MGCPROFILE/"
            target="platform:/plugin/com.ericsson.ecim.mgc.dsl/profiles/">
      </mapping>
   </extension>
   
  <extension point="org.eclipse.uml2.uml.dynamic_package">
     <profile uri="http:///schemas/MGCProfile/" location="platform:/plugin/com.ericsson.ecim.mgc.dsl/profiles/MGCProfile.profile.uml"/>
  </extension>
  
  <extension
        point="org.eclipse.papyrus.uml.diagram.wizards.templates">
     <template
           di_file="templates/MGCProfileModel.di"
           file="templates/MGCProfileModel.uml"
           id="com.ericsson.ecim.dsl.template.ModelWithMGCProfile"
           language="ecim"
           name="An MGC model with MGC Profile."
           notation_file="templates/MGCProfileModel.notation">
     </template>
  </extension>
   
   
</plugin>
