<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id=""
         name=""
         point="org.eclipse.jet.transform">
      <transform
            modelLoader="org.eclipse.jet.xml"
            startTemplate="templates/main.jet"
            templateLoaderClass="com.ericsson.ecim.vdicos.m2t.compiled._jet_transformation">
         <description></description>
         <tagLibraries>
            <importLibrary id="org.eclipse.jet.controlTags" usePrefix="c" autoImport="true"/>
            <importLibrary id="org.eclipse.jet.javaTags" usePrefix="java" autoImport="true"/>
            <importLibrary id="org.eclipse.jet.formatTags" usePrefix="f" autoImport="true"/>
            <importLibrary id="org.eclipse.jet.workspaceTags" usePrefix="ws" autoImport="false"/>
            <importLibrary
                  autoImport="true"
                  id="com.ericsson.ecim.m2t.ecimTags"
                  usePrefix="ecim">
            </importLibrary>
         </tagLibraries>
      </transform>
   </extension>
</plugin>
