<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.ericsson.ecim.umlmod" name="umlmod" schema="schema/com.ericsson.ecim.umlmod.exsd"/>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.ericsson.ecim.launcher.ecimmenu?after=generateartifacts">
         <command
               commandId="com.ericsson.ecim.custom.umltransformer.UtilitiesAction"
               mnemonic="R"
               style="push"
               tooltip="Custom utility working off the UML model.">
               <visibleWhen>
               <iterate>
                  <test
                        forcePluginActivation="true"
                        property="com.ericsson.ecim.launcher.isModel">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.ericsson.ecim.umlmod.UmlModifierAction"
            id="com.ericsson.ecim.custom.umltransformer.UtilitiesAction"
            name="Run Utility...">
      </command>
   </extension>
</plugin>
