<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   
   <extension
         id="VDicosProfile UMLProfiles"
         name="VDicosProfile UMLProfiles"
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            name="VDicosProfile"
            path="pathmap://VDICOSPROFILE/VDicosProfile.profile.uml">
      </profile>
   </extension>

   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://VDICOSPROFILE/"
            target="platform:/plugin/com.ericsson.ecim.vdicos.dsl/profiles/">
      </mapping>
   </extension>
   
   <extension point="org.eclipse.uml2.uml.dynamic_package">
     <profile uri="http:///schemas/VDicosProfile/" location="platform:/plugin/com.ericsson.ecim.vdicos.dsl/profiles/VDicosProfile.profile.uml"/>
   </extension>
   
   <extension
         point="org.eclipse.papyrus.uml.diagram.wizards.templates">
      <template
            di_file="templates/VDicosProfileModel.di"
            file="templates/VDicosProfileModel.uml"
            id="com.ericsson.ecim.dsl.template.ModelWithVDicosProfile"
            language="ecim"
            name="An TSP/VDicos model with TSP/VDicos Profile."
            notation_file="templates/VDicosProfileModel.notation">
      </template>
   </extension>
</plugin>
