<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.ericsson.com/2010/Yang"
            class="com.ericsson.yang.YANGPackage"
            genModel="model/Yang.genmodel"/>
   </extension>

</plugin>
