<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="Extension Template Guidelines"
            name="ECIM_EXTENSION_TEMPLATE_GUIDELIB"
            path="pathmap://ECIM_EXTENSION_TEMPLATE_GUIDELIB/Extension_Template_Guidelines.uml">
      </library>
   </extension>
   <!--extension
         point="org.eclipse.gmf.runtime.emf.core.Pathmaps">
      <pathmap
            name="ECIM_EXTENSION_TEMPLATE_GUIDELIB"
            path="libraries">
      </pathmap>
   </extension-->
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://ECIM_EXTENSION_TEMPLATE_GUIDELIB/"
            target="platform:/plugin/com.ericsson.ecim.extensiontemplate.guideline/libraries/">
      </mapping>
   </extension>

</plugin>
