<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ericsson.ecim.umlmod">
      <umlmodifier
            class="com.ericsson.ecim.cpp.pm.Pm2XmlUmlUtility">
      </umlmodifier>
   </extension>
   <extension
         point="com.ericsson.ecim.umlmod">
      <umlmodifier
            class="com.ericsson.ecim.cpp.pm.EcimPmModelCreator">
      </umlmodifier>
   </extension>

</plugin>
