<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         id="Extension Template UMLProfiles"
         name="Extension Template UMLProfiles"
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            name="TemplateProfile"
            path="pathmap://ECIM_EXTENSION_TEMPLATE_DSL/TemplateProfile.profile.uml">
      </profile>
   </extension>

   <extension point="org.eclipse.uml2.uml.dynamic_package">
     <profile uri="http:///schemas/TemplateProfile/" location="platform:/plugin/com.ericsson.ecim.extensiontemplate.dsl/profiles/TemplateProfile.profile.uml"/>
   </extension>
   
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://ECIM_EXTENSION_TEMPLATE_DSL/"
            target="platform:/plugin/com.ericsson.ecim.extensiontemplate.dsl/profiles/">
      </mapping>
   </extension>

</plugin>
