<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  
   <extension
         id="STN Profile UMLProfiles"
         name="STN Profile UMLProfiles"
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            name="Stn Base Profile"
            path="pathmap://STN_PROFILE/StnBaseProfile.profile.uml">
      </profile>
   </extension>

   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://STN_PROFILE/"
            target="platform:/plugin/com.ericsson.ecim.stn.dsl/profiles/">
      </mapping>
   </extension>
   
   <extension point="org.eclipse.uml2.uml.dynamic_package">
     <profile uri="http:///schemas/StnProfile/" location="platform:/plugin/com.ericsson.ecim.stn.dsl/profiles/StnBaseProfile.profile.uml"/>
   </extension>

</plugin>
