<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ericsson.ecim.transformations">
      <transformation
            checkedByDefault="true"
            enabledForCmwModelMerge="true"
            transformationClass="com.ericsson.ecim.coremw.launcher.extension.ImmXmlTransform"
            transformationId="imm"
            transformationName="IMM XML">
         <requiredProfiles>
            <profile
                  name="ECIM Base Profile">
            </profile>
            <profile
                  name="CoreMW Profile">
            </profile>
         </requiredProfiles>
      </transformation>
      <transformation
            checkedByDefault="true"
            enabledForCmwModelMerge="true"
            transformationClass="com.ericsson.ecim.coremw.launcher.extension.ImmXmlTransform"
            transformationId="immR2"
            transformationName="IMM XML R2 (SA_NOTIFY)">
         <requiredProfiles>
            <profile
                  name="ECIM Base Profile">
            </profile>
            <profile
                  name="CoreMW Profile">
            </profile>
         </requiredProfiles>
      </transformation>
      <transformation
            checkedByDefault="true"
            enabledForCmwModelMerge="true"
            transformationClass="com.ericsson.ecim.coremw.launcher.extension.ImmXmlTransform"
            transformationId="immR3"
            transformationName="IMM XML R3 (SA_NO_DANGLING)">
         <requiredProfiles>
            <profile
                  name="ECIM Base Profile">
            </profile>
            <profile
                  name="CoreMW Profile">
            </profile>
         </requiredProfiles>
      </transformation>
   </extension>
   <extension
         point="com.ericsson.ecim.umlmod">
      <umlmodifier
            class="com.ericsson.ecim.coremw.launcher.extension.Cmw2EcimProfileConverter">
      </umlmodifier>
      <umlmodifier
            class="com.ericsson.ecim.coremw.launcher.extension.Ecim2CmwProfileConverter">
      </umlmodifier>
      <umlmodifier
            class="com.ericsson.ecim.coremw.launcher.extension.UpgradeCoreMwModel">
      </umlmodifier>
  </extension>
        <extension
            point="org.eclipse.ui.startup">
         <startup
               class="com.ericsson.ecim.coremw.launcher.extension.StartupListener">
         </startup>
      </extension>
</plugin>
