<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
 
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://ericsson.com/ECIM/ParameterModel"
            class="ParameterModel.ParameterModelPackage"
            genModel="model/ParameterModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="parametermodel"
            class="ParameterModel.util.ParameterModelResourceFactoryImpl"/>
   </extension>

</plugin>
