<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="com.ericsson.ecim.cheatsheets.ecim_cheat_sheets_category"
            name="ECIM Cheat Sheets">
      </category>
      <cheatsheet
            category="com.ericsson.ecim.cheatsheets.ecim_cheat_sheets_category"
            composite="false"
            contentFile="/ECIMContributionContent.xml"
            id="com.ericsson.ecim.cheatsheets.ecim_contribution_cheatsheet"
            name="Creating MO relationships across MOMs">
      </cheatsheet>
      <cheatsheet
            category="com.ericsson.ecim.cheatsheets.ecim_cheat_sheets_category"
            composite="false"
            contentFile="/ECIMContainmentContent.xml"
            id="com.ericsson.ecim.cheatsheets.ecim_containment_cheatsheet"
            name="Creating MO relationships inside a single MOM">
      </cheatsheet>
   </extension>

</plugin>
