<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="com.ericsson.ecim.umlmod">
      <umlmodifier
            class="com.ericsson.ecim.mgc.launcher.extension.Cmw2MgcProfileConverter">
      </umlmodifier>
      <umlmodifier
            class="com.ericsson.ecim.mgc.launcher.extension.Mgc2CmwProfileConverter">
      </umlmodifier>
      <umlmodifier
            class="com.ericsson.ecim.mgc.launcher.extension.MgcImsUdmMigrator">
      </umlmodifier>  
   </extension>
   <extension
         point="com.ericsson.ecim.transformations">
      <transformation
            checkedByDefault="true"
            enabledForCmwModelMerge="false"
            transformationClass="com.ericsson.ecim.mgc.launcher.extension.MgcTransform"
            transformationId="mgc"
            transformationName="MGC JSON and C++">
         <requiredProfiles>
            <profile
                  name="ECIM Base Profile">
            </profile>
            <profile
                  name="CoreMW Profile">
            </profile>
            <profile
                  name="MGCProfile">
            </profile>
         </requiredProfiles>
      </transformation>
   </extension> 
</plugin>
