<plugin>
   <extension
         point="com.ericsson.ecim.transformations">
      <transformation
            checkedByDefault="true"
            enabledForCmwModelMerge="false"
            transformationClass="com.ericsson.ecim.vdicos.launcher.extension.VDicosTransform"
            transformationId="tspvdicos"
            transformationName="TSP/VDicos XML">
         <requiredProfiles>
            <profile
                  name="ECIM Base Profile">
            </profile>
            <profile
                  name="CoreMW Profile">
            </profile>
            <profile
                  name="VDicosProfile">
            </profile>
         </requiredProfiles>
      </transformation>
   </extension>
   <extension
         point="com.ericsson.ecim.umlmod">
      <umlmodifier
            class="com.ericsson.ecim.vdicos.launcher.extension.Cmw2TspVdicosProfileConverter">
      </umlmodifier>
      <umlmodifier
            class="com.ericsson.ecim.vdicos.launcher.extension.TspVdicos2CmwProfileConverter">
      </umlmodifier>
      <umlmodifier
            class="com.ericsson.ecim.vdicos.launcher.extension.Hidden2OptionalityUtility">
      </umlmodifier>
  </extension>   
</plugin>
