<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ericsson.ecim.transformations">
      <transformation
            checkedByDefault="true"
            transformationClass="com.ericsson.ecim.stn.launcher.transformations.STNXSD"
            transformationId="STN XSD"
            transformationName="STN XSD">
         <requiredProfiles>
            <profile
                  name="ECIM Base Profile">
            </profile>
            <profile
                  name="Stn Base Profile">
            </profile>
         </requiredProfiles>
      </transformation>
      <transformation
            checkedByDefault="true"
            transformationClass="com.ericsson.ecim.stn.launcher.transformations.STNPM"
            transformationId="STN PM"
            transformationName="STN PM">
         <requiredProfiles>
            <profile
                  name="ECIM Base Profile">
            </profile>
            <profile
                  name="Stn Base Profile">
            </profile>
         </requiredProfiles>
      </transformation>
      <transformation
            checkedByDefault="true"
            transformationClass="com.ericsson.ecim.stn.launcher.transformations.STNXMLDWAXE"
            transformationId="STN XML (DWAXE)"
            transformationName="STN XML (DWAXE)">
         <requiredProfiles>
            <profile
                  name="ECIM Base Profile">
            </profile>
            <profile
                  name="Stn Base Profile">
            </profile>
         </requiredProfiles>
      </transformation>
   </extension>

</plugin>
