<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.core.papyrusDiagram">
      <diagramCategory
            class="com.ericsson.ecim.core.uml.commands.EcimModelCreationCommand"
            description="Create Ericsson Common Information Model diagrams"
            icon="icons/EcimCategory.png"
            id="ecim"
            label="Ecim">
      </diagramCategory>
   </extension> 

</plugin>
