<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--extension
         point="org.eclipse.gmf.runtime.emf.core.Pathmaps">
      <pathmap
            name="ECIM_COREMW_GUIDELIB"
            path="libraries">
      </pathmap>
   </extension-->
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://ECIM_COREMW_GUIDELIB/"
            target="platform:/plugin/com.ericsson.ecim.coremw.guidelines/libraries/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="ECIM Core MW Guidelines"
            name="ECIM_COREMW_GUIDELIB"
            path="pathmap://ECIM_COREMW_GUIDELIB/ECIM_Core_MW_Guidelines.uml">
      </library>
   </extension>

</plugin>
