<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension
         id="ECIM_COREMW_PROFILE"
         name="CoreMW Profile UMLProfiles"
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            name="CoreMW Profile"
            path="pathmap://COREMW_PROFILE/CoreMW_Profile.profile.uml">
      </profile>
   </extension>

   <extension point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://COREMW_PROFILE/"
            target="platform:/plugin/com.ericsson.ecim.coremw.dsl/profiles/">
      </mapping>
   </extension>
   
   <extension point="org.eclipse.uml2.uml.dynamic_package">
     	<profile uri="http:///schemas/CoreMWProfile/" location="platform:/plugin/com.ericsson.ecim.coremw.dsl/profiles/CoreMW_Profile.profile.uml"/>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.wizards.templates">
      <template
            di_file="templates/CoreMW_ProfileModel.di"
            file="templates/CoreMW_ProfileModel.uml"
            id="com.ericsson.ecim.dsl.template.ModelWithCoreMWProfile"
            language="ecim"
            name="An CoreMW model with Core MW Profile."
            notation_file="templates/CoreMW_ProfileModel.notation">
      </template>
   </extension>
   
</plugin>
