<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <!--extension
         id="Domain Extension UMLProfiles"
         name="Domain Extension UMLProfiles"
         point="org.eclipse.gmf.runtime.emf.core.Pathmaps">
      <pathmap
            name="ECIM_DOMAIN_EXTENSION"
            plugin="com.ericsson.ecim.domainextension"
            path="profiles">
      </pathmap>
    </extension-->
	
	<extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://ECIM_DOMAIN_EXTENSION/"
            target="platform:/plugin/com.ericsson.ecim.domainextension/profiles/">
      </mapping>
   </extension>
      <extension point="org.eclipse.uml2.uml.dynamic_package">
     <profile uri="http:///schemas/EcimDomainExtension/" location="platform:/plugin/com.ericsson.ecim.domainextension/profiles/EcimDomainExtension.profile.uml"/>
  </extension>
      <extension
            id="ECIM_DOMAIN_EXTENSION"
            name="ECIM_DOMAIN_EXTENSION"
            point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
         <profile
               name="ECIM_DOMAIN_EXTENSION"
               path="pathmap://ECIM_DOMAIN_EXTENSION/EcimDomainExtension.profile.uml">
         </profile>
      </extension>   
</plugin>
