<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="Stn Guidelines"
            name="STN_GUIDELIB"
            path="pathmap://STN_GUIDELIB/StnGuideline.uml">
      </library>
   </extension>
   <!--extension
         point="org.eclipse.gmf.runtime.emf.core.Pathmaps">
      <pathmap
            name="STN_GUIDELIB"
            path="libraries">
      </pathmap>
   </extension-->
   
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://STN_GUIDELIB/"
            target="platform:/plugin/com.ericsson.ecim.stn.guidelines/libraries/">
      </mapping>
   </extension>
</plugin>
