<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension
         id="CppProfile UMLProfiles"
         name="CppProfile UMLProfiles"
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            name="CppProfile"
            path="pathmap://CPPPROFILE/CppProfile.profile.uml">
      </profile>
   </extension>

   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://CPPPROFILE/"
            target="platform:/plugin/com.ericsson.ecim.cpp.dsl/profiles/">
      </mapping>
   </extension>

   <extension point="org.eclipse.uml2.uml.dynamic_package">
     <profile uri="http:///schemas/CppProfile/" location="platform:/plugin/com.ericsson.ecim.cpp.dsl/profiles/CppProfile.profile.uml"/>
   </extension>
   
   <extension
         point="org.eclipse.papyrus.uml.diagram.wizards.templates">
      <template
            di_file="templates/CppProfileModel.di"
            file="templates/CppProfileModel.uml"
            id="com.ericsson.ecim.dsl.template.ModelWithCppProfile"
            language="ecim"
            name="An Cpp model with Cpp Profile."
            notation_file="templates/CppProfileModel.notation">
      </template>
   </extension>
   
</plugin>
