<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--extension
         point="org.eclipse.gmf.runtime.emf.core.Pathmaps">
      <pathmap
            name="ECIM_YANG_GUIDELIB"
            path="libraries">
      </pathmap>
   </extension-->
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://ECIM_YANG_GUIDELIB/"
            target="platform:/plugin/com.ericsson.ecim.yang.guidelines/libraries/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="ECIM Yang Guidelines"
            name="ECIM_YANG_GUIDELIB"
            path="pathmap://ECIM_YANG_GUIDELIB/ECIM_Yang_Guidelines.uml">
      </library>
   </extension>

</plugin>
